<div class="app-right-sidebar">
    <div class="friend-heading">My Friends</div>
    <div class="friend-listing">
        {% for friend in friends[0] %}
            <a class="friend-friend" href="{{url_for('friend_profile', friend_uname = friend[0])}}">{{friend[1]}}</a>
        {%  endfor %}
    </div>
    <div class="friend-listing">
        {% for friend in friends[1] %}
        <a class="friend-friend" href="{{url_for('friend_profile', friend_uname = friend[0])}}">{{friend[1]}}</a>
        {%  endfor %}
    </div>
    <div class="friend-listing">
        {% for friend in friends[2] %}
        <a class="friend-friend" href="{{url_for('friend_profile', friend_uname = friend[0])}}">{{friend[1]}}</a>
        {%  endfor %}
    </div>
</div>