<div class="card comment">
    <div class="comment-header text-left text-capitalize flex-column"></div>
            <div class="comment-commenter-name">><!--{{ details.commenter }}-->Jimmy Fallon</div>
            <div class="comment-timestamp"><!--{{ details.timestamp }}--> Thurs Apr 4, 2019</div>
        </div>
    </div>
    <div class="comment-content">

        <!--{{% if details.text %}}
            <div>{{details.text}}</div>
        {{% endif %}}-->
        <div> I love my life </div>

    </div>
</div>