body {
    padding-top: 5rem;
    background-color: #FAFAF7;
    font-family: 'Roboto', san-serif;
    height: 100%;
} 

.menu-options-container {
    width: 50%;
}

.logdiv{
    padding: 8%;
    display: flex;
    background-color: #f4eed7;
    align-items: center;
    border: 5px  solid;
    border-radius: 2%;
    border-color: #9ad0e0;
}

.loginform{
    padding: 10%;
}

.loginform h1{
    font-family: sans-serif;
}