{% extends "layout.html" %}

{% block content %}

<div class="container main-page-area">
    <h2 class="admin-header">Search Users</h2>
    <div class="admin-search-container">
        <form method="POST" action="{{ url_for('admin_search_users') }}" class="admin-search-form">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="col">
                    {{form.searchTerm.label(class="admin-search-label")}}
                </div>
                <div class="col">
                    {{form.searchTerm(class="form-control", placeholder="Enter name here")}}
                </div>
                <div class="col">
                    {{form.submitBtn(class="admin-search-btn")}}
                </div>
            </div>
        </form>
    </div>
    <hr class="divider"/>
    <div class="admin-search-results-container">
        {% if results %}
        <div class="admin-instructions text-justify">Click on a listed user to see their posts and comments.</div>
        <div class="admin-search-results-container">
            <table class="table table-hover table-responsive-xl admin-search-results-table">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Post</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Friends</th>
                    <th scope="col">Groups</th>
                  </tr>
                </thead>
                <tbody>
                    {% for person in results %}
                    <tr>
                        <td>{{person[0]}}</td>
                        <td>{{person[1]}}</td>
                        <td>{{person[2]}}</td>
                        <td>{{person[3]}}</td>
                        <td>{{person[4]}}</td>
                        <td>{{person[5]}}</td>
                        <td>{{person[6]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}