{% extends "layout.html" %}

{% block content %}

<div class="container main-page-area admin-groups-page">
    <h2 class="admin-header">View Groups</h2>
    <div class="admin-user-stat-container container-lg d-flex flex-row 
    align-items-center 
    justify-content-around flex-wrap">
        {% for stat in stats %}
            {% with stat_value=stat.value, stat_label=stat.label %}
                {% include "components/admin_stat.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    <hr class="divider"/>
    <div class="admin-search-results-container">
        {% if groups %}
        <div class="admin-search-results-container">
            <table class="table table-hover table-responsive-xl admin-search-results-table">
                <thead>
                  <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Total Posts</th>
                    <th scope="col">Total Members</th>
                  </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td class="truncate">{{group[0][0]}}</td>
                        <td class="truncate">{{group[1][0]}}</td>
                        <td class="">0</td>
                        <td class="">{{group[2][0]}}</td>
                   </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% else %}
        <div> We're sorry, there are no groups to show at the moment</div>
        {% endif %}
    </div>
</div>

{% endblock %}