{% extends "layout.html" %}

{% block content %}

<div class="container main-page-area">
    <h2 class="admin-header">Search Groups</h2>
    <div class="admin-search-container">
        <form method="POST" action="{{ url_for('admin_search_groups') }}" class="admin-search-form">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="col">
                    {{form.searchTerm.label(class="admin-search-label")}}
                </div>
                <div class="col">
                    {{form.searchTerm(class="form-control", placeholder="Enter name here")}}
                </div>
                <div class="col">
                    {{form.submitBtn(class="admin-search-btn")}}
                </div>
            </div>
        </form>
    </div>
    <hr class="divider"/>
    <div class="admin-search-results-container">
        {% if results %}
        <div class="admin-search-results-container">
            <table class="table table-hover table-responsive-xl admin-search-results-table">
                <thead>
                  <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Description</th>
                    <th scope="col">Total Posts</th>
                    <th scope="col">Total Members</th>
                  </tr>
                </thead>
                <tbody>
                    {% for group in results %}
                    <tr>
                        <td class="truncate">{{group[0]}}</td>
                        <td class="truncate">{{group[1]}}</td>
                        <td class="">{{group[2]}}</td>
                        <td class="">{{group[3]}}</td>
                        <td class="">{{group[4]}}</td>
                   </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% endif %}
        {% if results == [] %}
        <div> Group not found.</div>
        {% endif %}
    </div>
</div>

{% endblock %}