{% extends "base.html" %}

{% block main %}

<div class="container main-page-area">
    <h2 class="admin-header">View Users</h2>
    <div class="admin-user-stat-container container-lg d-flex flex-row 
    align-items-center 
    justify-content-around flex-wrap">
        {% for stat in stats %}
            {% with stat_value=stat.value, stat_label=stat.label %}
                {% include "components/admin_stat.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    <hr class="divider"/>
    <div class="admin-search-results-container">
        {% if users %}
        <div class="admin-search-results-container">
            <table class="table table-hover table-responsive-xl admin-search-results-table">
                <thead>
                  <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Post</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Friends</th>
                    <th scope="col">Groups</th>
                  </tr>
                </thead>
                <tbody>
                    {% for person in users %}
                <tr onclick=''>
                        <td>{{person.firstname}}</td>
                        <td>{{person.lastname}}</td>
                        <td>{{person.num_posts}}</td>
                        <td>{{person.num_comments}}</td>
                        <td>{{person.num_friends}}</td>
                        <td>{{person.num_groups}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% else %}
        <div> We're sorry, there are no users to show </div>
        {% endif %}
    </div>
</div>
<div class="filler"></div>

{% endblock %}