{% extends "base.html" %}

{% block main %}
<div class="container feed-page-container">
    <div class="feed-left-sidebar">
        <img />
        <div class="feed-name">Jimmy Fallon</div>
        <div>Edit Profile</div>
        <div class="feed-profile-details">
            <div class="feed-profile-detail">
                <div class="feed-profile-detail-heading"></div>
                <div class="feed-profile-detail-value"></div></div>
            </div>
        </div>
    </div>
    </div>
    <div class="main-feed"></div>
    <div class="feed-right-sidebar">
        <div class="sidebar-header">MY FRIENDS</div>
    </div>      
</div>

{% endblock %}
