{% extends 'layout.html' %}

{% block content %}

     <div class="gen_post">
        <form method="POST" action="{{ url_for('gen_post') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.content.label }}
                {{ form.content(class='form-control', placeholder="What's on your mind?") }}
            </div>

            <div class="form-group">
                {{ form.location.label }}
                {{ form.location(class='form-control', placeholder="Where are you posting from") }}
            </div>

            <div class="form-group">
                {{ form.postphoto.label }}
                {{ form.postphoto(class='form-control') }}
            </div>
            {{ form.submitBtn(class="btn btn-secondary") }}
        </form>
    </div>

{% endblock %}