{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome Back: {{ userProfileDetails[3] }} !</h2>

<div class="profile-main">
  <div class="container-fluid profile-left-sidebar">
    <div class="profile-details-panel panel">
      <img class="profile-photo img-responsive media-object img-circle" src="{{url_for('static', filename='profileimages/' + userProfileDetails[5])}}" />
      <div class="profile-user-name">{{ userProfileDetails[3] }} {{ userProfileDetails[4] }}</div>
        {% if groups|length > 0 %}
        <div class="profile-details-container">
            {% for group in groups %}
              <div class="feed-group">
                <div class="profile-detail-value">{{ group[0] }}</div>
              </div>
            {% endfor %}  
        </div>
        {% endif %}
    </div>
  </div>
  <div class="container-fluid official-feed ">
    <span class="profile-feed-head">
      <div class="row">
          <h3 class="feed-subtitle">Add Friends</h3>
          <p class="feed-text">Go Where your Friends are. Go - Search .</p>
          <a class="btn btn-primary" href="{{ url_for('find_friends') }}">Search Now</a>
      </div>
      <div class="row">
          <h3 class="feed-subtitle">Make Posts</h3>
          <p class="feed-text">Share Moments, Share. Post now</p>
          <a href="{{ url_for('gen_post') }}"><button class="btn btn-primary">Go Post</button></a>
      </div>
      <div class="row">
          <h3 class="feed-subtitle">Make Groups</h3>
          <p class="feed-text"> Create a group and share with your friends.</p>
          <a class="btn btn-primary" href="{{ url_for('create_group') }}">Make Group Now</a>
      </div>
    </span>
    <hr class="divider" />
    <br />
    {% if posts|length > 0 %}
      {% for post in posts %}
        {% with post=post, form=form %}
          {% include 'components/post.html' %}
        {% endwith %}
      {% endfor %}
    {% endif %}
  </div>
  {% if friends|length > 0 %}
  {% with friends=friends %}
  {% include 'components/app_right_sidebar.html' %}
  {% endwith %}
  {% endif %}
</div>

{% endblock %}