{% extends "base.html" %}

{% block main %}
<h1>Admin Dashboard</h1><br/>
{% include "admin/admin_dashboard.html" %}

<h1>Admin Search</h1><br/>
{% include "admin/admin_search.html" %}

<h1>Admin User Profile</h1><br/>
{% include "admin/admin_user_profile.html" %}

<h1>Admin Search Result</h1><br/>
{% include "components_templates/admin_search_result.html" %}

<h1>Admin Stat</h1><br/>
{% include "components_templates/admin_stat.html" %}

<h1>Admin Comment Input</h1><br/>
{% include "components_templates/comment_input.html" %}

<h1>Admin Comment</h1><br/>
{% include "components_templates/comment.html" %}

<h1>Admin Menu Button</h1><br/>
{% include "components_templates/menu_button.html" %}

<h1>Admin Post</h1><br/>
{%  include "components_templates/post.html" %}

{% endblock %}