{% extends 'layout.html' %} 

{% block content %}

<h2>New Post !</h2>
    <div class="usergroup_post">

        <form action= "{{ url_for('usergroup')}}" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                {{ form.content.label }}
                {{ form.content(class='form-control', placeholder="What's on your mind?") }}
            </div>

            <div class="form-group">
                {{ form.postphoto.label }}
                {{ form.postphoto(class='form-control') }}
            </div>

            <div class="userpost_button">
                <button type="submit" name="submit" class="btn btn-primary btn-block">Post</button>
            </div>

        </form>
    </div>

    <div class="card mb-8">
        <div class="card-body">
            <h3> Username </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <hr>
            <i class="fa fa-comments" aria-hidden="true">Comments</i>
            
      </div>
    </div>

    <!--<div class="timeline">
        <div class="card" id="content_post">
        <p> Hello there !</p>
        </div>
    </div> -->


 


{% endblock %}