{% extends 'layout.html' %}

{% block content%}

 <div class="card mb-8">
        <div class="card-body">
            <h3> Username </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <p>Replication of post</p>
            <hr>
      </div>
    </div>

  <div class="card mb-8">
    <div class="card-body">
      <form action="{{ url_for('userpost_comment')}}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          {{ form.content.label }}
          {{ form.content(class='form-control', placeholder="Whats your comment?") }}
        </div>

        <div class="userpost_button">
          <button type="submit" name="submit" class="btn btn-primary btn-block">Post</button>
        </div>

      </form>
      <hr>

      <!-- another for loop to print out the users comments-->
      <div class="card-mb-8">
        <div class="card-body">
          <h3>Username</h3>
          <p>user's comment here</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

