{% extends 'layout.html' %} 

{% block content %}

<h2>Welcome to Oberlin Psa</h2>
<hr>
        <button type="submit" name="submit" id="join_button" class="btn btn-primary btn-block">Join Group</button>
   

    <div class="usergroup_post">

        <form action= "" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                {{ form.content.label }}
                {{ form.content(class='form-control', placeholder="What's on your mind?") }}
            </div>

            <div class="form-group">
                {{ form.postphoto.label }}
                {{ form.postphoto(class='form-control') }}
            </div>

            <div class="userpost_button">
                <button type="submit" name="submit" class="btn btn-primary btn-block">Post</button>
            </div>

        </form>
    </div>
    {% for post in posts %}
    <div class="card post">
    <div class="post-header">
        <img src="{{url_for('static', filename='appimages/admin.png')}}" class="post-photo" alt="profile-photo"
            width="50" height="50" />
        <div class="flex-column text-left text-capitalize">
            <div class="post-poster-name">Dean Subratie</div>
            <div class="post-location">{{post[3]}}</div>
            <div class="post-timestamp">{{post[2]}}</div>
        </div>
    </div>
    <div class="post-content">
        <div>{{post[1]}}</div>
        <img src="{{url_for('static', filename='profileimages/john.png')}}" class="post-content-photo" />
        <hr class="divider mb-4 mt-4" />
    </div>
    </div>
    {% endfor %}


 
</div>

{% endblock %}