{% extends 'layout.html' %}

{% block content%}

 <div class="card mb-8">
        <div class="card-body">
            <h3> Username </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <p>Replication of post</p>
            <hr>
      </div>
    </div>


  <div class="card mb-8">
    <div class="Card-body">
        <p> Username</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
  </div>

 




{% endblock%}